#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=Lime Linux — System Installer
Name[tr_TR]=Lime Linux Sistem Yükleyici
Comment=Lime Linux — System Installer
Comment[tr_TR]=Lime Linux Sistem Yükleyici
Exec=gksu LC_ALL=en_US calamares %f
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;

